
<div class="d-flex align-items-center">
  <h1>お店の場所と情報が簡単に検索できるアプリ</h1>

</div>
    
    
<!--<div id="app" class="col-sm-12" t>-->
<!--  <div id="search">-->
<!--    <form class=" form-inline my-2 my-lg-0">-->
<!--      <input type="text" name="keyword" class="form-control col-sm-4" placeholder="店名や料理のジャンルなど"></input>-->
<!--      <button type="submit" class="btn btn-outline-success my-2 my-sm-0">検索</button>-->
<!--    </form>-->
<!--  </div>-->
<!--  <br />-->


<div id="app" class="col-sm-12">
  <div id="search">
    <form class=" form-inline my-2 my-lg-0">
      <input type="text" name="keyword" class="form-control col-sm-4" placeholder="店名や料理のジャンルなど"></input>
      <button type="submit" class="btn btn-outline-success my-2 my-sm-0">検索</button>
    </form>
  </div>
  <div id="map"></div>
  <div id="shop"></div>
</div>
 <br />

<script id="shop_template" type="text/template">
  <div class="shop">
    <div class="thumnbnail"></div>
    <p class="title"></p>
    <a class="link">詳しくはこちら</a>
  </div>
</script>